* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    line-height: 2em;
}




/* header 시작 */
#wrap{
    min-width: 1520px;
    overflow: hidden;
    }
#header_wrap {
    background-color: #fff;
    /* position: fixed;
    top: center; */
    width: 100%;
    z-index: 2;
    box-shadow: #00000033 1px 1px 10px;
}

.header {
    width: 1460px;
    height: 84px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    display: block;
}

.gnb {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}

.gnb>li>a {
    display: block;
    width: 100px;
    padding: 14px 0;
    margin: 20px 20px 0 20px;
}

.util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 141px;
    margin-top: 14px;
    background: url(../img/menu_1_s.png) no-repeat top 0 right 44px;
}

.util li:nth-child(2) {
    margin-right: 14px;
}

/* hover */

#header_wrap:hover {
    background-color: #fff;
    color: #000;
}

.gnb li:hover {
    color: #74b754;
    background: url(../img/menu_hover_s.png) no-repeat top 18px center;
}

.util li img{
    display: block;
}

.util li:hover img {
    opacity: 0%;
}

.util li:nth-child(1):hover {
    background-image: url(../img/icon_search\ 1\ hover.png);
}

.util li:nth-child(2):hover {
    background-image: url(../img/icon_cart\ 1\ hover.png);
}

.util li:nth-child(3):hover {
    background-image: url(../img/icon_user\ 1\ hover.png);
}


/* header 끝 */



/* bg 시작 */


.bg_v video{ position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    opacity: 50%;
}
.bg_v{
    display:block;
    overflow: hidden;
    height: 540px;
    position:relative;}
    

.v_text{
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
.v_text h1{
    font-family: '';
    font-size: 60px;
    font-weight: 400;
    color: #74b754;
    padding: 114px 0;
}

/* bg 끝 */




/* banner 시작 */

/* .banner {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.banner h1{
    font-family: '';
    font-size: 60px;
    font-weight: 400;
    color: #74b754;
    padding: 114px 0;
}

.banner>img{
    width: 755px;
} */

/* banner 끝 */


/* section1 시작 */

.section1 {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}


.section1 h2{
    font-family: '';
    color: #74b754;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.menu li a{
    display: block;
    padding: 5px 10px;
    border: #ddd 1px solid;
    border-radius: 40px;
    width: 130px;
    box-sizing: border-box;
  
}

.menu li:hover a, .on {
    background-color: #74b754;
    border-radius: 40px;
    color: #fff;
    width: 130px;
}

/* .menu>li>a.visited {
    background-color: #74b754;
    border-radius: 40px;
    color: #fff;
    width: 130px;
} */


/* section1 끝 */



/* section2 시작 */

.section2{
    width: 1200px;
    margin: 150px auto;
}

.section2>table{
    border-top: #ddd 1px solid;
    border-bottom: #ddd 2px solid;
    text-align: center;
    color: #000;
}

/* 팝업 시작 */

.popup_wrap {
    width: 360px;
    height: 640px;
    box-sizing: border-box;
    background-color: #eee;
    padding: 20px;
    border-radius: 30px;
    box-shadow: #55555598 0 0 10px;
    position: fixed;
    bottom: 30px;
    right: 100px;
}

.popup1 {
    width: 320px;
    height: 70px;
    display: flex;
}

.popup1 img{
    width: 70px;
    border-radius: 30px;
}

.p_text1 {
    padding: 17px 0 0 15px;
    line-height: 1em;
}
.p_text1 h2{
    font-family: '';
    font-weight: 500;
    padding-left: 5px;
}
.popup1 a{
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    color: #555;
    border-radius: 8px;
}

.popup1 a:hover{
    background-color: #ddd;
}


/* 팝업 2 시작 */
.popup2_wrap{
    width: 320px;
    height: 260px;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    
    border-radius: 20px;
}
.popup2 {
    width: 300px;
    height: 140px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    
}

.popup2 img{
    width: 40px;
    border-radius: 10px;
}

.p_text2 {
    margin-left: 15px ;
    font-size: 16px;
    line-height: 1.5em;
}

.popup2_wrap a{
    display: inline-block;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    background-color: #74b754;
    text-align: center;
    margin: 10px 0;
    padding: 7px 0;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
}

.popup2_wrap>p{
    text-align: center;
    font-size: 14px;
    color: #555;
    line-height: 2em;
}
.popup2:hover{
    background-color: #f7f7f7;
}

.popup2_wrap>a:hover{
    background-color: #619c45;
}

.close{
    display: inline-block;
    padding: 2px 15px;
    background-color: #ccc;
    border-radius: 20px;
    position: fixed;
    bottom: 60px;
    right: 130px;
}

.close:hover{
    background-color: #73b754ad;
    color: #fff;
}
/* 팝업 끝 */


.td_title{
    width: 65%;
    text-align: left;
}

.td_day{
    width: 23%;
}
td{
    padding: 10px;
    border-top: #ddd 1px solid;
}

td>img{
    width: 20px;
}

td a:hover{
    color: #555;
}

/* section2 끝 */









/* footer 시작 */
#footer_wrap{
    background-color: #ddd;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.foot_1 {
    width: 60%;
}
.foot_1 ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 15px;
}

.foot_1 p{
    font-size: 15px;
}

.foot_2{
    width: 20%;
}

.foot_2 h1{
    padding: 5px 0 10px 0;
}
.cs_time{
    font-size: 15px;
}

.foot_3{
    width: 12%;
}
.foot_util{
    display: flex;
    justify-content: space-between;
}

.foot_util li{
    width: 40px;
}

.foot_util li img{
    border-radius: 50px;
    width: 100%;
    transition: all 0.3s;
}


/* hover */

.foot_util li:hover img {
    opacity: 70%;
}




/* cs button */
.cs_button {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #33333356;
    overflow: hidden;
}

.cs_button:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.cs_button>img {
    display: block;
    width: 100%;
}

/* top button */
.top_button {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 100;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #33333356;
    overflow: hidden;
}

.top_button:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.top_button>img {
    display: block;
    width: 100%;
}



/* 축소 시 반응형 */

/* @media (max-width: 1520px) {
    .footer{
        width: 90%;
    }
} */
/* footer 끝 */